/*  COMMON  */

.container {
    max-width: 67.5rem;
    padding: 25px;
    margin: 0 auto;
}

body {
    background-color: #0F1624;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*  HEADER  */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0A0F18;
    z-index: 100;
}

.header {
    position: fixed;
    padding: 24px 0px;
    font-size: 1rem;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 20%;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.header__logo > img {
    width: 1.5rem;
}
.header__logo > h2 {
    margin-left: 0.5em;
}

.header__nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.header__nav > ul {
    display: flex;
    font-size: 1rem;
}

.header__buttons > li + li {
    margin-left: 2rem;
}
.header__social > li + li {
    margin-left: 1rem;
}

.header__social > li {
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header__social > li> a > svg {
    transition: fill 0.4s ease;
}

.header__nav > .header__buttons li a {
    transition: color 0.4s ease;
}

.header__nav > .header__buttons a:hover {
    color: #945DD6;
}

.header__social > li.header__github > a > svg:hover {
    fill: #945DD6;
}

.header__social > li.header__linked-in > a > svg:hover {
    fill: #945DD6;
}

.header__social > li.header__figma > a > svg:hover {
    fill: #945DD6;
}


/* WELCOME */

.welcome {
    padding: 100px 0 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.welcome__container {
    display: flex;
    justify-content: space-between;
}



.welcome__text {
    width: 60%;
}

.welcome__image {
    width: 30%;
}

.welcome__title {
    font-size: 2.5rem;
}

.welcome__subtitle {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #BCBCBC;
    margin-left: 3rem;
}

.button {
    padding: 0.68em 3.37em;
    line-height: 5;
    background: linear-gradient(to left, #13ADC7, #3D93CC, #6978D1, #945DD6);
    border-radius: 1.68em;
}



/* PROJECTS */

.projects {
    padding: 0 0;
}
.projects__title {
    font-size: 2.5rem;
}
.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;

}
.project {
    min-width: 10rem;
    max-width: 20rem;
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px 0px 25px 0px;
    box-shadow: 0px 0px 8px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project h3 {
    font-size: 1.5rem;
    padding: 20px 0 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-image: linear-gradient(to left, #13ADC7, #3D93CC, #6978D1, #945DD6) 30;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    text-transform: uppercase;
}

.project p {
    margin-top: 20px;
}


/* TECHNOLOGIES */

.technologies {
    padding: 100px 0 0;
}

.technologies__title {
    font-size: 2.5rem;
}
.technologies__wrapper {
    margin-left: 3rem;
}
.technology {
    margin-top: 30px;
}
.technology__title {
    display: flex;
    align-items: flex-end;
}
.technology__name {
    text-align: left;
    padding-left: 2rem;
    width: 50%;
    font-size: 1.5rem;
}
.technology__level {
    width: 50%;
    text-align: right;
    padding-right: 4rem;
    font-size: 1rem;
}
.technology__bar {
    height: 1.5rem;
    position: relative;
    width: 100%;
    background-color: #162950;
    border-radius: 0.75rem;
}
.technology__bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #13ADC7, #3D93CC, #6978D1, #945DD6);
    height: 1.5rem;
    border-radius: 0.75rem;
}
.bar_25::before {
    width: 25%;
}
.bar_50::before {
    width: 50%;
}
.bar_75::before {
    width: 75%;
}
.bar_100::before {
    width: 100%;
}


/* Additional */

.additional-skills {
    margin-top: 60px;
}

.additional-skills h4 {
    font-size: 2.1rem;
}

.additional-skills li {
    font-size: 1.3rem;
    line-height: 2;
    margin-left: 25%;
}

.additional-skills ul {
    margin-top: 40px;
    columns: 2;
    list-style-type: disc;
}


/* ABOUT ME */

.about-me {
    margin-top: 100px;
}

.about-me__title {
    font-size: 2.5rem;
}
.hronology_wrapper {
    display: flex;
    margin-top: 20px;
}
.hronology {
    width: 25%;
    text-align: center;
}
.hronology h4 {
    font-size: 1.5rem;
}
.hronology p {
    margin: 1rem 1rem;
}

.hronology__decoration {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    position: relative;
    margin-top: 1rem;
}

.hronology__decoration::before {
    content: "";
    position: absolute;
    top: calc(0% - 0.35rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}

.hronology__description {
    margin-top: 10px;
}


/* FOOTER */

.footer {
    margin-top: 200px;
    padding: 20px;
}

.footer > .container {
    display: flex;
    justify-content: space-between;
}

.footer__social {
    display: flex;
}

.footer__social li + li {
    margin-left: 2rem;
}

.footer__social a > svg {
    transition: fill 0.4s ease;
}

.footer__email a {
    transition: color 0.4s ease;
}
.footer__email a:hover {
    color: #945DD6;
}

.footer__social a > svg:hover {
    fill: #945DD6;
}



@media(max-width: 46.875rem) {
    .welcome__image {
        display: none;
        width: 0;
    }
    .welcome__text {
        width: 90%;
    }
    .technologies__wrapper {
        margin-left: 0;
    }
}

@media(max-width: 39.6875rem) {
    .header .header__buttons {
        display: none;
    }
    .header__nav {
        justify-content: flex-end;
    }
}

@media(max-width: 43.75rem) {
    .hronology_wrapper {
        display: flex;
        flex-direction: column;
    }
    .hronology {
        display: flex;
        position: relative;
        width: 100%;
        min-height: 20vh;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    .hronology h4 {
        font-size: 1.5rem;
        width: 15%;
        text-align: left;
    }
    .hronology p {
        margin: 1rem 1rem;
        width: calc(100% - 7.5rem);
    }
    
    .hronology__decoration {
        height: 100%;
        width: 0.3rem;
        background-color: white;
        position: absolute;
        left: 5em;
    }
    
    .hronology__decoration::before {
        content: "";
        position: absolute;
        top: calc(50% - 1rem);
        left: calc(50% - 0.5rem);
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        background-color: white;
    }
    
    .hronology__description {
        margin-top: 10px;
    }
}

@media(max-width: 34.375rem) {
    .footer > .container {
        flex-direction: column;
        gap: 20px;
    }
    .additional-skills ul {
        columns: 1;
    }
    .additional-skills li {
        margin-left: 25px;
    }
}

@media(max-width: 26.5625rem) {
    .technology__name {
        padding-left: 0;
        font-size: 1.25rem;
    }
    .technology__level {
        padding-right: 0;
    }
}

.hide {
    display: none;
}
/*
.about-me {
    margin-top: 100px;
}

.about-me__title {
    font-size: 2.5rem;
}
.hronology_wrapper {
    display: flex;
    flex-direction: column;
}
.hronology {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 20vh;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.hronology h4 {
    font-size: 1.5rem;
    width: 15%;
}
.hronology p {
    margin: 1rem 1rem;
    width: calc(100% - 7.5rem);
}

.hronology__decoration {
    height: 100%;
    width: 0.3rem;
    background-color: white;
    position: absolute;
    left: 5em;
}

.hronology__decoration::before {
    content: "";
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}

.hronology__description {
    margin-top: 10px;
}*/